*{ margin:0;
    padding:0; 
    box-sizing:border-box; 
    font-family:Arial, Helvetica, sans-serif; 
}

body{ background:#ccc; 
    display:flex; 
    justify-content:center; 
    align-items:center; 
    height:100vh; 
}

 .container{ 
    width:300px; 
    background:#3d00b8; 
    padding:15px; 
}

 .italia{
     background:#2e7d32; 
     color:white; 
     text-align:center; 
     padding:20px; font-size:28px; 
     letter-spacing:3px; 
    }

.jugadores{ 
    background:#eee; 
    display:flex; justify-content:space-around; 
    padding:15px 5px; 
}

.jugador{ 
    text-align:center;
    font-size:12px; 
}

.foto{ 
    width:50px; 
    height:50px; 
    background:black; 
    border-radius:50%; 
    margin:0 
    auto 5px; } 
 .anio{ 
        background:#c40000; 
        color:white; 
        text-align:center; 
        padding:20px; 
        font-size:32px; }

 .campeon{ 
    background:black; 
    color:white; text-align:center; 
    padding:20px 10px; 
}

.card{ 
    background:#ddd; 
    height:100px; border-radius:25px; 
    margin-top:15px; 
}

 .menu{ 
    background:#2e7d32; 
    display:flex; 
    justify-content:space-around; 
    color:white; 
    padding:10px 0; 
    font-size:14px; 
}